.elemento{display: flex;
    background-color: #f4f6f1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.elemento__titulo{
    color: rgb(49, 49, 49);
    font-family: 'Montserrat',sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}
.elemento__figura{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.elemento__figura--imagen{
    width: 50vw;
    max-width: 600px;
    margin-bottom: 1rem;

}
.elemento__figura--texto{
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 2rem;
}
.elemento__boton{
    font-family: 'Montserrat',sans-serif;
    color: #e21919;
    border-color: 3px solid #e21919;
    margin: 0 auto;
    justify-content: space-around;
}