.head{
    color: aliceblue;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    border-bottom: 1px solid #0b0606;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color:rgb(8, 21, 22);
    justify-content: space-between;

}
.head__logo{
height: 75px;
margin-bottom: 1rem;
align-items: center;
}

.head_nav{
    text-align: center;
}
.head__link{
    font-family: 'Montserrat',sans-serif;
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}