.pagina{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    background-color: black;
    padding-top: 10rem;
    padding-bottom: 2rem;
}
.pagina__titulo{
    font-family: 'Montserrat',sans-serif;
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.pagina__desc{
    font-family: 'Montserrat',sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin: 0 auto 2.5rem;
}
.pagina__boton{
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    width: 50%;
    padding: 1rem;
    border: 3px solid #812121;
    border-radius: 0 50px;
}

@media screen and (min-width:750px){
    .pagina{
        background-image: url('../img/port1.jpg');
        background-size: cover;
        padding-top: 8rem;
    }
}